body{
    background-color: wheat;
    width: 100%;
}
*{
    padding: 0%;
    margin: 0%;
}
nav li{
  list-style-type: none;
  margin: 0;
  padding: 0;  
}
#navbar{
    background-color: rgb(209, 209, 209);
    overflow: hidden;
    width: 100%;
}
#navbar a{
    display: block;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-size: 17px;
}
.navpart1 a{
    float: left;
    color: purple;
}


.navpart1 a:hover{
    background-color: whitesmoke;
    color: black;
}
.navpart1 a.active{
    background-color: purple;
    color: whitesmoke;
}

.navpart2{
    float: right;
    color: purple;
    display: block;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 17px;
    
}
.navpart2 input::placeholder ,input{
    color: purple;
    border: none;
    padding: 3px 5px;
}
.navpart2 button{
    float: right;
  padding: 3px;
  background: #ddd;
  border: none;
  cursor: pointer;
  color: purple;
 }
 .navpart2 button:hover{
    background-color: whitesmoke; 
    color: black;  
 }


.navpart3 a {
    float: right;
    color: purple;
}
.navpart3 a:hover{
    background-color: whitesmoke;
    color: black;
}

#homepart{
    display: flex;
    margin-left: 50px;
}
.homepart1 h1{
    text-align: center;
    color: purple;
    font-size: xx-large;
}
 .homepart1 p{
    color: purple;
    font-size: 17px;
    float: right;
    margin-left: 30px;
    margin-right: 30px;
    
} 
.homepart2{
    position: relative;
    text-align: center;
    color: purple;
    font-size: x-large;
    float: right;
}
.homepart2 h3{
   bottom: 8px;
   right: 16px;
}
#aboutuspart{
    display: flex;
    justify-content: space-between;
}
.aboutuspart1{
    float: right;
    color: purple;
    font-size: 17px;
    text-align: center;
    margin-top: 30px;
    margin-left: 50px;
}
.aboutuspart1 h1{
    text-align: center;
    font-size: xx-large;
}
.aboutuspart2{
    float: left;
    margin-left: 80px;
}
.profilepart{
    color: purple;
    text-align: center;
    font-size: x-large;
}
#profilesection{
    display: flex;
}
.profilepart1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    background-color: rgb(230, 224, 224);
    margin-left: 35px;
    margin-right: 20px;
}
.profilepart1 img{
    height:350px ;
    width: 400px;
}
.profilepart1 h1,p{
    color: purple;
}
.profilepart1 .intro{
    color: grey;
    font-size: 17px;  
}
.profilepart1 button{
    border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color:purple;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 17px;
}
.profilepart1 button:hover {
    opacity: 0.7;
  }


  .profilepart2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    background-color: rgb(230, 224, 224);
    margin-left: 20px;
    margin-right: 20px;
}
.profilepart2 img{
    height:350px ;
    width: 400px;
}
.profilepart2 h1{
    color: purple;
}
.profilepart2 .intro{
    color: grey;
    font-size: 17px;  
}
.profilepart2 button{
    border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color:purple;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 17px;
}
.profilepart2 button:hover {
    opacity: 0.7;
  }


  .profilepart3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    background-color: rgb(230, 224, 224);
    margin-left: 20px;
    margin-right: 20px;
}
.profilepart3 img{
    height:350px ;
    width: 400px;
}
.profilepart3 h1, p{
    color: purple;
}
.profilepart3 .intro{
    color: grey;
    font-size: 17px;  
}
.profilepart3 button{
    border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color:purple;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 17px;
}
.profilepart3 button:hover {
    opacity: 0.7;
  }
